/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 20, 2016, 3:28:26 PM
    Author     : bojan
*/

body {
    margin: 0;
    font-family: 'Segoe UI Light', sans-serif;
}

h1 {
    color: #444;
    font-size: 50px;
    text-align: center;
}